<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />

  <title>Allie Rice</title>

  <link rel="stylesheet" href="https://use.typekit.net/zpm4tgu.css">
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
</head>
<body>
  <div id="container">
  	<div id="container-inner">

  		<div id="header-container">
  			<div id="header">
  				<h1><a href="/">Allie Rice</a></h1>
  			</div>
  		</div>

  		<div id="page">
  			<div id="content" class="clearfix">
          <div id="main">
            {{ content }}
          </div>
        </div>
      </div>

    </div>

    <div id="footer-container">
      <div id="footer" class="clearfix">
        <img src="/images/headshot.jpg" />
        <p class="copyright">&copy; 2022 <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#97;&#108;&#108;&#105;&#101;&#99;&#114;&#101;&#97;&#116;&#105;&#118;&#101;&#46;&#99;&#111;&#109;">Allie Rice</a></p>
      </div>
    </div>

  </div>
</body>
</html>
